<div class="navbar navbar-inverse navbar-static-top">
    <div class="container">
        {{#link-to "index" class="navbar-brand"}}Home{{/link-to}}
        <button class="navbar-toggle" data-toggle="collapse" data-target=".nav-header-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <div class="collapse navbar-collapse nav-header-collapse">
            <ul class="nav navbar-nav navbar-right">
                {{#link-to "index" tagName="li" href=false}}{{#link-to "index"}}Home{{/link-to}}{{/link-to}}
                {{#link-to "jobs" tagName="li" href=false}}{{#link-to "jobs"}}Jobs{{/link-to}}{{/link-to}}
                {{#link-to "types" tagName="li" href=false}}{{#link-to "types"}}Types{{/link-to}}{{/link-to}}
            </ul>
        </div>
    </div>
</div>

<div class="container">
    {{outlet}}
</div>